@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-content: center;
    justify-content: center;
    /* flex-direction: row; */
  }

  .logo {
    font-weight: 900;
    font-size: 28px;
    color: #2a2a2a;
    margin-right: 320px;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .for-what-sec {
    font-size: 36px;
    display: flex;

    background-image: url(https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149159772.jpg?w=1060&t=st=1687079456~exp=1687080056~hmac=c6e1dfd9c251859258cd99cf37fefcede43875c0ec6fce27fa5a9ca7bfe788a7);
    /* background-image: url(https://img.freepik.com/free-vector/hand-drawn-flat-design-mountain-landscape_23-2149159384.jpg?w=1060&t=st=1687080599~exp=1687081199~hmac=039fe75291a812212bd9cf694b00f507c91de526fda0467aa76a4aba407aa62b); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1540px;
  }

  .for-what {
    margin: 120px;
  }

  .imp-zone {
    display: flex;
    justify-content: center;
  }

  .routine {
    border: solid 1px #00ff00;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .routine-days-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
  }

  .routine-day-item {
    width: calc((100% - 56px) / 3);
  }

  .sport-title {
    border: solid 1px #00ff00;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 560px;
    height: 352px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 12px;
  }

  .training-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
  }

  .training-item {
    width: calc((100% - 60px) / 2);
  }

  .footer {
    display: flex;
    justify-content: center;
  }
}
