:root {
  --lg-gradient: linear-gradient(
    90deg,
    rgba(0, 213, 255, 0.4) 0%,
    rgba(43, 60, 212, 0.4) 100%
  );
}

body {
  font-size: 20px;
  font-family: "Roboto";
  /* padding: 16px; */
  color: #2a2a2a;
  /* background: linear-gradient(
    180deg,
    rgba(0, 255, 115, 0.2) 20%,
    rgba(11, 211, 246, 0.2) 80%
  ); */
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: orange;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
}

.header {
  display: flex;
  justify-content: start;
  width: 100%;
  /* border: solid 4px #2cc0ff; */
  /* border-radius: 20px; */
  background: var(--lg-gradient);
  padding: 16px;
  /* margin-bottom: 16px; */
}

.logo.site-nav-link {
  font-weight: 900;
  font-size: 40px;
  color: #2a2a2a;
  width: 100px;
}

.logo.site-nav-link:hover {
  color: orange;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 8px;
}

.site-nav-link {
  color: #4a4a4a;
}

.for-what-sec {
  display: flex;
  color: rgb(255, 255, 255);
  background-image: url(https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149159772.jpg?w=1060&t=st=1687079456~exp=1687080056~hmac=c6e1dfd9c251859258cd99cf37fefcede43875c0ec6fce27fa5a9ca7bfe788a7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1540px;
}

.hero-container {
  margin: 60px;
}

.for-what {
  font-size: 28px;
}

.imp-zone {
  background: #ff00002c;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.3) 20%,
    rgba(255, 102, 0, 0.3) 80%
  );
  /* border: solid 2px #ff0000; */
  border-radius: 20px;
  width: 100%;
  padding: 8px;
}

iframe {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  margin-bottom: 16px;
}

.routine-sec {
  padding: 16px;
}

.routine-day-par {
  font-weight: 700;
  color: #0083a8;
}

.exp-par {
  font-size: 18px;
  color: #5c5c5c;
}

.sport-sec {
  padding: 16px;
}

.work-sec {
  padding: 16px;
}

.training-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 0 auto;
  padding: 20px;
}

.training-day {
  font-weight: 700;
  width: 200px;
  margin: 0 auto;
  color: #0083a8;
}

.training-item {
  flex-direction: column;
}

.decision {
  margin: 0 auto;
  width: 353px;
}

.second-sport-prgme {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(0, 255, 0, 0.3) 20%,
    rgba(0, 255, 119, 0.3) 80%
  );
  /* border: solid 4px #00ff00;
  border-radius: 20px; */
  padding: 16px;
  margin-top: 16px;
}

.contacts {
  font-style: normal;
}
